<!--copy-->
<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
  <div class="container">
      <div class="social-icons">
        <i class="big inverted facebook circle link icon"></i>
        <i class="big inverted twitter circle link icon"></i>
        <i class="big inverted google plus circle link icon"></i>
        <i class="big inverted instagram circle link icon"></i>
      </div>
    <p>&copy; <%= DateTime::now.year %> Info UH . All rights reserved | Developed by <a href="http://w3layouts.com">Big Sheeps</a></p>
  </div>
</div>
<!--copy-->
