<div id='example'></div>

<script type="text/javascript">

formGenerator('query', 'example');

function includeConditionGenerate(prefix, metadata){
  html = ''
  return html
}
function includeConditionGenerate2(prefix, metadata){
  html = ''
  return html
}
function groupGenerate(prefix, metadata){
  html = ''
  return html
}
function havingGenerate(prefix, metadata){
  html = ''
  return html
}
function orderGenerate(prefix, metadata){
  html = ''
  return html
}
function limitGenerate(prefix, metadata){
  html = ''
  return html
}

function selectedOptions(element){
  return ["ABC"].join(",");
}
</script>
