<!---banner--->
<div class="banner-section">
		<div class="container">
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider">
						 <li>
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.4s">
								<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta Fusce</p>

							</div>

						</li>
						 <li>
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.4s">
								<p>Pain may last a minute, an hour, or a day, but it will eventually subside & something else will take its place. But quitting, however, lastsFusce porta porta</p>

							</div>


						 </li>
						<li>
							<div class="caption">
							<div class="col-md-6 cap-left wow fadeInDownBig animated animated" data-wow-delay="0.4s">
								<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta</p>

							</div>


						 </li>
					</ul>
				</div>
			</div>
		</div>
</div>
<!---banner--->


<div class="banner-section">
  <div class="content">

  <!---train--->
  	<div class="train w3-agile">
  		<div class="container">
  			<h2>Search with us</h2>
  			<div class="train-grids">
  				<%= link_to welcome_query_path do %>
					<div class="col-md-3 train-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
						<div class="train-top hvr-bounce-to-right">
							<div class="train-img">
								<i class="wizard big inverted icon" style="margin: 0em; padding: .2em 0em 0em 0em;"></i>
							</div>
							<h4>Query Wizard</h4>
							<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy</p>
						</div>
					</div>
					<% end %>
					<%= link_to welcome_map_path do %>
  				<div class="col-md-3 train-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
  					<div class="train-top hvr-bounce-to-right">
  						<div class="train-img">
  							<i class="map big inverted icon" style="margin: 0em; padding: .2em 0em 0em 0em;"></i>
  						</div>
  						<h4>Map Asistent</h4>
  						<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy</p>
  					</div>
  				</div>
					<% end %>
					<%= link_to welcome_question_path do %>
  				<div class="col-md-3 train-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
  					<div class="train-top hvr-bounce-to-right">
  						<div class="train-img">
								<i class="comment big inverted icon" style="margin: 0em; padding: .2em 0em 0em 0em;"></i>
  						</div>
  						<h4>Parametric Questions</h4>
  						<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy</p>
  					</div>
  				</div>
					<% end %>
					<%= link_to consults_path do %>
  				<div class="col-md-3 train-grid wow fadeInRight animated animated" data-wow-delay="0.4s">
  				<div class="train-top hvr-bounce-to-right">
  						<div class="train-img">
								<i class="comments big inverted icon" style="margin: 0em; padding: .2em 0em 0em 0em;"></i>
  						</div>
  						<h4>Typical Questions</h4>
  						<p>Lorem ipsum dolor sit amet, consectetuer adipig elit. Praesent vestibulummolestie lacus. Aenean nonummy</p>
  					</div>
  				</div>
					<% end %>
  				<div class="clearfix"></div>
  			</div>
  		</div>
  	</div>
  <!---train--->

  </div>
</div>
