
<%= form_tag wizard_test_path do %>
  <div id='example'></div>
  <div id='form_modals'>
<% end %>

<script type="text/javascript">

formGenerator('query', 'example', 'form_modals');

function includeConditionGenerate(prefix, metadata){
  html = ''
  return html
}
function includeConditionGenerate2(prefix, metadata){
  html = ''
  return html
}

function havingGenerate(prefix, metadata){
  html = ''
  return html
}
function orderGenerate(prefix, metadata){
  html = ''
  return html
}
function limitGenerate(prefix, metadata){
  html = ''
  return html
}

function selectedOptions(element){
  return ["ABC"].join(",");
}
</script>
