<!-- <form class="" action="index.html" method="post" id="query1form" onclick="Delete(this)">
  <select class="" name="" onchange="formContentGenerator('query1')">
    <option value="">Option</option>
    <option value="">Option</option>
    <option value="">Option</option>
    <option value="">Option</option>
  </select>
  <div id="query1formcontent">
    <select class="" name="" onchange="formContentDataGenerator('query1')" multiple="true">
      <option value="">Option</option>
      <option value="">Option</option>
      <option value="">Option</option>
      <option value="">Option</option>
    </select>
    <div class="query1formcontentdata"> -->
      <!-- <div class="" id="query1formcolumns">
        <div onclick="simpleColumnGenerate('query1')">Simple</div>
        <div onclick="functionColumnGenerate('query1')">Function</div>
        <div onclick="aliasColumnGenerate('query1')">Alias Function</div>


      </div>
      <div class="" id="query1formconditions">
        <div onclick="simpleConditionGenerate('query1')">Simple</div>
        <div onclick="betweenConditionGenerate('query1')">Between</div>
        <div onclick="includeConditionGenerate('query1')">Inclusion</div>
        <div onclick="includeConditionGenerate2('query1')">Nested Query</div>


      </div>
      <div class="" id="query1formgroups">
        <div onclick="groupGenerate('query1')">Group</div>


      </div>
      <div class="" id="query1formhaving">
        <div onclick="havingGenerate('query1')">Having</div>


      </div>
      <div class="" id="query1formorders">
        <div onclick="orderGenerate('query1')">Order</div>


      </div>
      <div class="" id="query1formlimits">
        <div onclick="limitGenerate('query1')">Limit</div>


      </div> -->
    <!-- </div>
  </div>
  <input type="submit" value="Send Data">
</form> -->

<div id='example'></div>

<script type="text/javascript">

formGenerator('query', 'example');

function simpleColumnGenerate(prefix, metadata){
  html = ''
  return html
}
function functionColumnGenerate(prefix, metadata){
  html = ''
  return html
}
function aliasColumnGenerate(prefix, metadata){
  html = ''
  return html
}
function simpleConditionGenerate(prefix, metadata){
  html = ''
  return html
}
function betweenConditionGenerate(prefix, metadata){
  html = ''
  return html
}
function includeConditionGenerate(prefix, metadata){
  html = ''
  return html
}
function includeConditionGenerate2(prefix, metadata){
  html = ''
  return html
}
function groupGenerate(prefix, metadata){
  html = ''
  return html
}
function havingGenerate(prefix, metadata){
  html = ''
  return html
}
function orderGenerate(prefix, metadata){
  html = ''
  return html
}
function limitGenerate(prefix, metadata){
  html = ''
  return html
}

function selectedOptions(element){
  return ["ABC"].join(",");
}
</script>
