<%= map(:center => {
  :latlng => [23.13600916719015, -82.38191485404968],
  :zoom => 18
}) %>

<div id="sidebar"></div>

<script type="text/javascript">

	var sidebar = L.control.sidebar('sidebar', {
	    closeButton: true,
	    position: 'right'
	});
	map.addControl(sidebar);

	map.on('click', function () {
	    sidebar.show();
      sidebar.setContent('<%= render partial: 'layout/forms/map' %>');
	})

</script>

<script type="text/javascript">

		var marker = L.AwesomeMarkers.icon({
      prefix: 'prefix',
		  icon: 'knight',
		  markerColor: 'red'
		});

		L.marker([23.13600916719015, -82.38191485404968], {icon: marker}).addTo(map).on('click', function () {
	        sidebar.toggle();
	        sidebar.setContent('Hello World');
	    });

</script>

<script type="text/javascript">

	map.on('click', function(e) {
	    alert("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
	});

</script>
