<div class="loc-top-100">
  <%= form_tag wizard_test_path, class: "ui form" do %>
    <div id='example'></div>
    <div id='form_modals'></div>
  <% end %>

  <script type="text/javascript">

  wizardGenerator('query', 'example', 'form_modals', 'Build your query', true);

  function includeConditionGenerate(prefix, metadata){
    html = ''
    return html
  }

  function selectedOptions(element){
    return ["ABC"].join();
  }
  </script>
</div>
