<div class="loc-top-100 container">
  <%= form_tag wizard_test_path, class: "ui form" do %>
    <div id='example'></div>
    <div id='form_modals'></div>
  <% end %>

  <%= render partial: 'partials/table'%>

</div>
<script type="text/javascript">

wizardGenerator('query', 'example', 'form_modals', 'Build your query', true, 'none');

function includeConditionGenerate(prefix, metadata){
  html = ''
  return html
}

</script>

<!-- <script type="text/javascript">
  tabSetter();
</script> -->
