<div class="loc-top-100 container">
  <hr>
  <%= form_tag wizard_test_path, class: "ui form", id: 'mainForm00' do %>
    <div id='form_modals'></div>
    <div class="fields">
      <div id='example'></div>
      <div class="fourteen wide field">
        <input type="text" name="nodata2" placeholder="Quesiton?" id="nameID">
      </div>
      <div class="field">

      <select class="ui dropdown" name="nodata" id="selectID">
        <option value="">Place</option>
        <% Marker.all.each do |m| %>
        <option value="<%= m.id %>"><%= m.name %></option>
        <% end %>
      </select>
    </div>
    <div class="field">

      <div class="circular ui icon button" onclick="setQuery('query', 'nameID', 'mainForm00', 'selectID')">
        <i class="database large icon"></i>
      </div>
    </div>
    </div>
  <% end %>

  <hr>
  <div class="" id="tableContainer00">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</div>
<script type="text/javascript">
$('.ui.dropdown').dropdown();
wizardGenerator('query', 'example', 'form_modals', '<i class="wizard big icon"></i>', true, 'none');

function showTable(){
  $.post('/wizard/perform',$('#mainForm00').serialize())
   .done(function(response) {
      console.log(response);
      document.getElementById("tableContainer00").innerHTML = response;
      $('table').attr('class','ui very basic collapsing celled table loc-width-100 loc-btn-60')
    }).fail(function() {
      console.log("fAIL");
    })
}

</script>
