<div class="loc-top-100 container">
  <h1>Table</h1>
  <%= @table %>
</div>

<script type="text/javascript">
$('table').attr('class','ui very basic collapsing celled table loc-width-100 loc-btn-60')
</script>
