// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
  position: absolute;
  width: 100%;
  height: 100%;
}

.loc-top-5{ margin-top: 5px !important; }
.loc-top-10{ margin-top: 10px !important; }
.loc-top-12{ margin-top: 12px !important; }
.loc-top-14{ margin-top: 14px !important; }
.loc-top-50{ margin-top: 50px !important; }
.loc-top-60{ margin-top: 60px !important; }
.loc-top-70{ margin-top: 70px !important; }
.loc-top-80{ margin-top: 80px !important; }
.loc-top-90{ margin-top: 90px !important; }
.loc-top-100{ margin-top: 100px !important; }
.loc-top-110{ margin-top: 110px !important; }
.loc-top-120{ margin-top: 120px !important; }
.loc-top-130{ margin-top: 130px !important; }
.loc-top-140{ margin-top: 140px !important; }
.loc-top-150{ margin-top: 150px !important; }

.loc-btn-0{ margin-bottom: 0px !important; }
.loc-btn-5{ margin-bottom: 5px !important; }
.loc-btn-10{ margin-bottom: 10px !important; }
.loc-btn-15{ margin-bottom: 15px !important; }
.loc-btn-20{ margin-bottom: 20px !important; }
.loc-btn-25{ margin-bottom: 25px !important; }
.loc-btn-50{ margin-bottom: 50px !important; }
.loc-btn-100{ margin-bottom: 100px !important; }
